#avantelasticsearch_es_owner_id,
#avantelasticsearch_es_scheme,
#avantelasticsearch_es_port {
    width: 60px;
}

#avantelasticsearch_es_region {
    width: 85px;
}

#avantelasticsearch_es_key,
#avantelasticsearch_es_owner {
    width: 220px;
}

#avantelasticsearch_es_secret {
    width: 320px;
}

#avantelasticsearch_es_host {
    width: 550px;
}

.indexing-radio-buttons {
    line-height: 24px;
    margin: 0 0 8px 0;
    padding: 8px 0;
}


