#avantelasticsearch_es_contributor_id {
    width: 60px;
}

#avantelasticsearch_es_region,
#avantelasticsearch_es_export_file {
    width: 100px;
}

#avantelasticsearch_es_key,
#avantelasticsearch_es_contributor {
    width: 280px;
}

#avantelasticsearch_es_secret {
    width: 320px;
}

#avantelasticsearch_es_host {
    width: 550px;
}

.indexing-radio-buttons {
    line-height: 24px;
    margin: 0 0 8px 0;
    padding: 8px 0;
}

.health-report-ok,
.health-report-error {
    font-size: 16px;
    margin-bottom: 8px;
}
.health-report-ok {
    color: green;
}

.health-report-error {
    color: red;
    font-weight: bold;
}


