.ui-autocomplete {
    background: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 500 !important;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background: rgba(0, 156, 255, 0.16);
}

.ui-autocomplete-loading {
    background: #f1f1f1;
}


/* === Elasticsearch Search Results with Facet sidebar ===
--------------------------------------------------------- */
#search-table-elasticsearch-results {
    float: left;
    clear: right;
    width: calc(100% - 200px);
    margin: 0;
    padding-left: 8px;
}

#search-table-elasticsearch-sidebar {
    float: left;
    width: 200px;
    margin-top: 19px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

#facet-sidebar > ul {
    padding-left: 0;
    font-size:14px;
    margin-top: 0;
    margin-bottom: 6px;
    list-style-type:none;
}

.facet-sections-title {
    color: #636363;
    font-size:20px;
    padding: 6px 6px 6px 8px;
}

.facet-section,
.facet-section-applied {
    color: #555555;
    font-size:16px;
    padding: 6px 6px 6px 8px;
    background-color: #f6f6f6;
    margin-bottom: 4px;
}

.facet-section-applied {
    color: #1a77bd;
    background-color: rgba(26, 119, 189, 0.2)
;
}

.facet-entry-applied {
    color: #1a77bd !important;
}

.facet-entry-1-root,
.facet-entry-1-leaf,
.facet-entry-2,
.facet-entry-3 {
    font-size: 14px;
    padding-top: 2px;
    color: #777777;
}

.facet-entry-1-root {
    font-weight: normal;
}

.facet-entry-1-root,
.facet-entry-1-leaf {
    padding-left: 9px;
}

.facet-entry-2 {
    padding-left: 20px;
}

.facet-entry-3 {
    padding-left: 31px;
}

#facet-contributor > li {
    margin-bottom: 8px;
}

.elasticsearch-highlight {
    color: #1a77bd;
    font-style: normal;
    font-weight: bold;
}
